@import '../../variables.scss';

body, html, #root {
    height: 100%;
}
#homeWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    position: relative;
    header {
        max-width: 800px;
        width:90%;
        margin:0 auto;
        h1 {
            color:$azul;
            font-size:50px;
        }
    }
    ul.ml-site-list {
        list-style-type: none;
        padding:0;
        li.ml-site-country {
            display: inline-block;
            margin:10px;
            a {
                font-weight: bold;
                text-decoration:none;
                display:inline-block;
                text-align: center;
                font-size: 14px;
                padding: 10px 15px;
                color:$azul-claro;
                border: 2px solid $azul-claro;
                border-radius: 25px;
                transition: all .3s;
                &:hover {
                    color:#fff;
                    background:$azul-claro;
                }
            }
        }
    }
    @media (max-width: 650px){
        header{
            h1 {
                font-size: 30px;
            }
        }
        ul.ml-site-list {
            list-style-type: none;
            padding:0;
            text-align: center;
            li.ml-site-country {
                display: block;
            }
        }
    }
}

