@import '../../variables.scss';

nav.searchBar { 
    color: $azul;
    text-align: center;
    -webkit-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
    &.searched {
        .searchInput {
            background-color:$verde-agua;
            button, input {
                color:#fff;
                border:none;
            }
        }
        h1 {
            display:none;
        }
    }
    .searchInput {
        padding:30px;
        width: 100%;
        input, button {
            color: $azul;
            font-size:18px;
            border:none;
            background: transparent;
        }
        button {
            text-transform: uppercase;
            cursor: pointer;
            margin-left:15px;
            font-weight: bold;
            color: $azul-claro;
            &:hover, &:active, &:focus {
                color: $azul;
            }
        }
        input {
            border-bottom:1px solid $azul-claro;
            padding:10px;
            &:focus, &:active {
                outline:none;
            }
        }
    } 
    img.logo {
        display:block;
        width: 60px;
        align-self: flex-start;
    }
}
