@import '../../variables.scss';

nav.filterBar {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:20px 0 0 20px;
    label {
        margin-right:10px;
    }
    input {
        background:transparent;
        border:none;
        border-bottom:1px solid $azul;
            &:focus, &:active {
                outline:none;
            }
    }
}