@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;800&display=swap');

$rojo: red;
$rosa: #ffa3e8;
$amarillo: #ffeb00;
$violeta:#735aff;
$main-font:'Raleway', sans-serif;
$azul: #22577A;
$azul-claro:#38A3A5;
$verde-agua:#57CC99;
$verde: #80ED99;